{% form 'customer_login' %}
  <div class="auth auth--login">
    <h2 class="auth__title">Login to Your Account</h2>
    {% if form.errors %}
      <div class="auth__error">{{ form.errors | default_errors }}</div>
    {% endif %}
    <div class="auth__form">
      <label class="auth__label">Email
        <input type="email" name="customer[email]" class="auth__input" required />
      </label>
      <label class="auth__label">Password
        <input type="password" name="customer[password]" class="auth__input" required />
      </label>
      <button type="submit" class="auth__btn">Login</button>
    </div>
    <p class="auth__switch">Don't have an account? <a href="/account/register">Sign up</a></p>
  </div>
{% endform %} 