<html>
  <head>
    {{ content_for_header }}

    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {% comment %} {{ 'theme.js' | asset_url | script_tag }} {% endcomment %}
</head>
  <body>
    {% section 'header' %}
    {% section 'announcement-bar' %}

    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </body>
</html>