<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ content_for_header }}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,500,600,700&display=swap" rel="stylesheet">
    <style>
      html, body {
        font-family: 'Roboto Condensed', Arial, sans-serif !important;
      }
    </style>
  </head>

  <body>
  
    <main>
      {{content_for_layout}}
    </main>

    {% render 'cart-drawer' %}

    <script src="{{ 'header.js' | asset_url }}" defer></script>
  </body>
</html>

