{% schema %}
{
  "name": "404 Page",
  "settings": [
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Error Title",
      "default": "404 - Page Not Found"
    },
    {
      "type": "richtext",
      "id": "message",
      "label": "Error Message",
      "default": "<p>The page you're looking for can't be found. Try searching or return to our homepage.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Homepage Button Text",
      "default": "Return to Homepage"
    }
  ]
}
{% endschema %}