{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}

{% if section.settings.show_announcement_bar %}
  <div class="announcement-bar" style="--announcement-bg: {{ section.settings.announcement_bar_background_color }}; --announcement-text: {{ section.settings.announcement_bar_text_color }};">
    <div class="announcement-bar__content page-width">
      <p class="announcement-bar__text">
        {{ section.settings.announcement_bar_text | default: "Get 15% off on your first order" }}
      </p>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement_bar",
      "label": "Show Announcement Bar",
      "default": true
    },
    {
      "type": "text",
      "id": "announcement_bar_text",
      "label": "Announcement Text",
      "default": "Get 15% off on your first order"
    },
    {
      "type": "color",
      "id": "announcement_bar_background_color",
      "label": "Background Color",
      "default": "#6d6a6ac7"
    },
    {
      "type": "color",
      "id": "announcement_bar_text_color",
      "label": "Text Color",
      "default": "#FFFFFF"
    }
  ],
  "presets": [
    {
      "name": "Announcement bar"
    }
  ]
}
{% endschema %}