<nav>
    {% render 'header' %}
</nav>

{% schema %}
{
    "name": "Header",
    "settings": [],
    "presets": [
        {
            "name": "Header",
            "category": "Header"
        }
    ]
}
{% endschema %}