{{ 'offer.css' | asset_url | stylesheet_tag }}

<section class="offer-section">
  <div class="offer-section__banner">
    <img src="{{ 'offer.png' | asset_url }}" alt="Sale Banner" class="offer-section__banner-img" loading="lazy" />
  </div>
  <div class="offer-section__content">
    <a href="{{ section.settings.button_link | default: '#' }}" class="offer-section__button">
      {{ section.settings.button_text | default: 'View Offer' }}
    </a>
  </div>
</section>

{% schema %}
{
  "name": "Offer Banner",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "View Offer"
    },
    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link",
      "default": "/collections/sale"
    }
  ]
}
{% endschema %}
